.card {
    border: 2rem solid black;
    /* margin: 5px ; */
    width: 22em;
    height: 18em;
    color: black;
    border: 0.1rem #000000 solid;
    /* background-color: black; */
    border-radius: 1rem;
    margin: 1.3rem;
    margin-top: 0.2rem;
    /* width: 12em;
    height: 12em; */
    /* padding: 3em; */
    transition: 0.35s;
    background-color: rgba(0,0,0,0.2);
   
    
    
}

.card:hover {
    text-decoration: none;
    border: 0.2rem #020105 solid;
    transform: scale(1.15);
  }

  .region {
      margin-top: 1vw;
  }

  .name {
    margin-top: -.0vw;
  }