.landing {
    background-image: url("https://images.alphacoders.com/592/592444.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    background-position:inherit;
    background-attachment: fixed;
    width:100%;
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px #000;
    text-align: center;
    margin-top: 0%;
}
.h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(228, 243, 17);
    text-shadow: 2px 2px #000;
    text-align: center;
    margin-top: 2%;
}
.button {
    border-radius: 10px;
    font-size: 150%;
    font-weight: bold;
    color: white;
    background-color: steelblue;
    margin-top: 20px;
}